.flex-for-buttons {
  display: flex;
  flex-direction: column;
}

.resident-buttons {
  display: flex;
  justify-content: space-between;
}

.post-date-button {
  display: flex;
  justify-content: space-between;
}

.edit-delete-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .btn-secondary {
    margin-right: 5px;
  }
}

.post-and-date {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }
}
