.container {
  padding-top: 30px;

  h1 {
    text-align: center;
  }

  .create-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 70px
  }

  .residents {
    margin-top: 50px;
  }

  .posts {
    margin-top: 30px;
  }
}

.flex-for-buttons {
  display: flex;
  min-height: 65px;
  justify-content: space-between;
}

.resident-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 4;
}

.post-date-button {
  display: flex;
  justify-content: space-between;
}

.edit-delete-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .btn {
    min-width: 60px;
  }

  .btn-secondary {
    margin-right: 5px;
  }
}

#resident-sets-collapsable {

  .accordion-button {
    width: 100%;
    height: 30px
  }
}

.box-big {
  flex-direction: row-reverse;

  admin-rocker {
    padding-right: 10px;
  }
}
.post-and-date {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }
}
