.outer {
  height: 95%;
  overflow-y: scroll;
}

ul {
  list-style: none;
}

#dashboardbox {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

#dashboard-container {
  padding-top: 0px;
  padding-bottom: 0px;
  max-height: 100vh;
  max-width: 960px;
  display: flex;
  flex-direction: column;

  ::-webkit-scrollbar {
    display: none;
  }


  h1 {
    text-align: center;
  }

  .create-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 70px
  }
}

.create-buttons {
  margin-bottom: 10px;
}


.accordion-body {
  overflow-y: scroll !important;
}

.dashboard {

  .posts {
    position: sticky;
    margin-top: 5px;
  }

  .accordion-body {
    max-height: 65vh;
  }

  .residents {

    margin-top: 30px;

    .accordion-body {
      max-height: 45vh;
    }
  }
}




button {
  margin: auto;
}

#edit-button {
  background-color: rgba(85, 85, 85, 0.511);
  border-style: none;
}

#edit-button:hover {
  background-color: rgb(85, 85, 85);
}


#delete-button {
  background-color: rgba(255, 255, 255, 0.478);
  border-style: none;
}

#delete-button:hover {
  background-color: rgb(255, 255, 255);
}

#dashboard-button {
  background-color: rgba(164, 89, 255, 0.567);
  border-style: none;
}

#dashboard-button:hover {
  background-color:rgb(164, 89, 255);
}

li {
  text-align: left;
}

.flex-for-buttons {
  display: flex;
  min-height: 65px;
  justify-content: space-between;
  margin-bottom: 10px;

}

.resident-buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  border-bottom: 2px solid rgb(255, 255, 255);

  a {
    min-height: 31px;
    margin-bottom: 5px;
  }
}

.post-date-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px
}

.edit-delete-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .btn {
    min-width: 60px;
  }

  .btn-secondary {
    margin-right: 5px;
  }
}

#resident-sets-collapsable {

  .accordion-button {
    width: 100%;
    height: 30px
  }
}

// .box-big {
//   flex-direction: row-reverse;

//   admin-rocker {
//     padding-right: 10px;
//   }
// }
.post-and-date {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid rgb(255, 255, 255);

  p {
    margin-bottom: 0;
  }
}
