// Specific CSS for your home-page

// Scroll bar
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {

  border: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8e888c33;
  transform: 2;
}

#central_container{
  background-color: transparent;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  overflow-y:scroll;
  margin-top: 100px;
}



// /* Small devices (portrait tablets and large phones, 400px and down) */
@media only screen and (min-width: 200px) {
  #central_container{
    height: 300px;
  }
  iframe{
    width: 200px;
    height: 130px;
  }
}

// /* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {
  #central_container{
    height: 400px;
  }
  iframe{
    width: 300px;
    height: 200px;
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #central_container{
    height: 500px;
  }
  iframe{
    width: 560px;
    height: 315px;
  }
}
