#blog-view {
  background-color: rgba(211, 211, 211, 0.529);

  .header-bar {
    text-align: left;
    background-color:rgba(100, 203, 255, 0.60);
    padding: 10px;
    margin-bottom: 10px;
  }

  .blog-content {
    margin-left: 30px;
    margin-right: 10px;
  }

}

#lower-blog{
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .lower-icons{
  background: transparent;
  border: none;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px #8E888C;
  text-align: center;
  }
}
