#blog-view {
  background-color: rgba(255, 255, 255, 0.50);

  .header-bar {
    text-align: left;
    background-color:rgba(100, 203, 255, 0.60);
    padding: 10px;
    margin-bottom: 10px;
  }

  .blog-content {
    margin-left: 30px;
    margin-right: 10px;
  }
}
