
.resident_view {
  // background: url(https://res.cloudinary.com/depkh8amy/image/upload/v1669899443/Rectangle70_nlvx8s.png);
  background-size: cover;
  padding: 20px;
}

ul {
  list-style: none;
  text-align: center;
  padding: 40px;
}

a {
  text-decoration: none;
  color: white;
}

.text-wrapper {
  padding: 00px;
  border-top: 2px solid rgba(255,255,255,.4);
  // border-bottom: 1px solid rgba(255,255,255,.4);
}
