<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgba(184, 184, 184, 0.9);">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: white">Welcome to Moss Radio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 style="color: white">
          This site is for non-commercial testing and development purposes only. The log in and sign up pages are ony for demonstration and we do not use the data you provide in any way.
        </h4>
        <h4>
          You can sign up with a fake email and password, as long as the email fits the regular 'abc@abc.abc' format and the password is at least 6 characters.
        </h3>
        <h3>
          Enjoy!
        </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
