<h1>Listen Live</h1>

<div data-controller="media">
  <audio id="player" src="http://stream.radioparadise.com/aac-128" data-media-target="player"></audio>
  <button data-action="click->media#play"><i data-media-target="icon" class="fa-solid fa-play"></i></button>
  <input type="range" data-action="change->media#volume" data-media-target="slider" class="background-color: green">
</div>



