<div id="message-<%= message.id %>" class="animate__animated animate__fadeIn message">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%l:%M %p") %></i>
  </small>
  <h4 style="font-weight:lighter"><%= message.content %></h4>
</div>
