<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# THIS IS SOME CODE TO ADD TO THE NAVBAR LATER %>


<%= render "shared/chat" %>

<%= render "shared/residents" %>



  <%= link_to "See all radiosets", radiosets_path, class:"btn btn-info" %>
  <%= link_to "See Blog", posts_path, class:"btn btn-info" %>

</div>
