<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<div class = "page-wrapper" data-controller="edit-homepage">

  <%# render "shared/navbar" %>
  <div class="topnavbar">
    <div class="nav-left">
      <div class="bar">
        <div class = "media">
            <%= render "shared/media_player" %>
          <div class="inside"><h1>Streaming Live: DJ KEV N PERRY || <%= Time.now.strftime("%I:%M") %></h1></div>
          <img id ="vol" src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669907255/icons8-voice-24_zpfzfp.png" alt="">
          <input type="range" id="points" name="points" min="0" max="10">
          </div>
      </div>
    </div>
          <img id="logo" src="https://res.cloudinary.com/depkh8amy/image/upload/v1670316511/mosshori_fvlgwa.png" alt="">
      <div class="nav-right">
      <div class="admin-rocker">
      <% if current_user && current_user.admin? %>
        <%= link_to dashboard_path do %>
          <div class="mid">
            <label class="rocker">
              <input type="checkbox" unchecked>
              <span class="switch-left">Admin</span>
              <span class="switch-right">Home</span>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
      </div>
  </div>


  <div class="bottom-page">

    <div class="nav">

      <div id="navtop" class="topnav">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670238116/Tab_17_pxmulv.png" alt="" data-action="click->edit-homepage#radiosets"></a></div>

      <div id="navmiddle">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670238116/Tab_18_mlowl9.png" alt="" data-action="click->edit-homepage#residentlist"  ></a></div>

      <div id="navbottom">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670238115/Tab_19_k3hq7z.png" alt="" data-action="click->edit-homepage#blog"></a></div>

    </div>

    <div id="chat" data-edit-homepage-target="chat">
        <div class="chatbox">

        <%= render "shared/chat" %>

        </div>
        <span href="#" class="btn-r" data-action="click->edit-homepage#show"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670237456/Chat_yfmqsb.png" alt=""></span>
        <span href="#" data-action="click->edit-homepage#show"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669906417/Component_11_snnzvr.png" alt=""></span>
    </div>

    <%# <div id="about">
        <span href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669908412/Component_10_1_ql2ws7.png" alt=""></span>
    </div> %>
<div class ="animation">
  <svg class="illo" version="1.1"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
    x="0px" y="0px" width="400.5px" height="400.5px" viewBox="0 0 400.5 400.5" style="enable-background:new 0 0 400.5 400.5;"
    xml:space="preserve">
  <defs>
  </defs>
  <path class="st0 s1" d="M6.6,135.7c0,0,32.8,0,113,0s145.3,0,145.3,0s-65,0-145.3,0S6.6,135.7,6.6,135.7z"/>
  <path class="st0 s2" d="M0.2,241.2c0,0,28.4-16.4,97.8-56.5s125.8-72.6,125.8-72.6s-56.3,32.5-125.8,72.6S0.2,241.2,0.2,241.2z"/>
  <path class="st0 s3" d="M47.5,335.7c0,0,16.4-28.4,56.5-97.8s72.6-125.8,72.6-125.8s-32.5,56.3-72.6,125.8S47.5,335.7,47.5,335.7z"/>
  <path class="st0 s4" d="M135.7,393.9c0,0,0-32.8,0-113s0-145.3,0-145.3s0,65,0,145.3S135.7,393.9,135.7,393.9z"/>
  <path class="st0 s5" d="M241.2,400.2c0,0-16.4-28.4-56.5-97.8s-72.6-125.8-72.6-125.8s32.5,56.3,72.6,125.8S241.2,400.2,241.2,400.2z"
    />
  <path class="st0 s6" d="M335.7,353c0,0-28.4-16.4-97.8-56.5s-125.8-72.6-125.8-72.6s56.3,32.5,125.8,72.6S335.7,353,335.7,353z"/>
  <path class="st0 s7" d="M393.9,264.8c0,0-32.8,0-113,0s-145.3,0-145.3,0s65,0,145.3,0S393.9,264.8,393.9,264.8z"/>
  <path class="st0 s8" d="M400.2,159.3c0,0-28.4,16.4-97.8,56.5s-125.8,72.6-125.8,72.6s56.3-32.5,125.8-72.6S400.2,159.3,400.2,159.3z"
    />
  <path class="st0 s9" d="M353,64.8c0,0-16.4,28.4-56.5,97.8s-72.6,125.8-72.6,125.8s32.5-56.3,72.6-125.8S353,64.8,353,64.8z"/>
  <path class="st0 s10" d="M264.8,6.6c0,0,0,32.8,0,113s0,145.3,0,145.3s0-65,0-145.3S264.8,6.6,264.8,6.6z"/>
  <path class="st0 s11" d="M159.3,0.2c0,0,16.4,28.4,56.5,97.8s72.6,125.8,72.6,125.8s-32.5-56.3-72.6-125.8S159.3,0.2,159.3,0.2z"/>
  <path class="st0 s12" d="M64.8,47.5c0,0,28.4,16.4,97.8,56.5s125.8,72.6,125.8,72.6s-56.3-32.5-125.8-72.6S64.8,47.5,64.8,47.5z"/>
  </svg>
</div>


  <div id="central_container">
    <div data-edit-homepage-target="central_container">
    </div>
  </div>

</div>
