
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<div class = "page-wrapper" data-controller="edit-homepage">

  <%# render "shared/navbar" %>

  <div class="nav">

    <div id="navtop" class="topnav">
    
      <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669905575/Tab_13_hndstq.png" alt="" data-action="click->edit-homepage#radiosets"></a></div>


    <div id="navmiddle">
      <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669905575/Tab_14_eskqz3.png" alt="" data-action="click->edit-homepage#residents"  ></a></div>

    <div id="navbottom">
      <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669905575/Tab_15_ueovck.png" alt="" data-action="click->edit-homepage#blog"></a></div>

  </div>


  <div id="chat" data-edit-homepage-target="chat">
      <span href="#" class="btn-r" data-action="click->edit-homepage#show" ><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669907796/Component_4_3_tkpa0h.png" alt=""></span>
      <span href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669906417/Component_11_snnzvr.png" alt=""  ></span>
  </div>

  <div id="about">
      <span href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669908412/Component_10_1_ql2ws7.png" alt=""></span>
  </div>

  <div class="box-big">
    <div class="box">
      <div class="bar">
        <div class = "media">
            <%= render "shared/media_player" %>
          <div class="inside"><h1>Streaming Live: DJ KEV N PERRY || <%= Time.now.strftime("%I:%M") %></h1></div>
          <img id ="vol" onclick="volume()" src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669907255/icons8-voice-24_zpfzfp.png" alt="">
          <input type="range" id="points" name="points" min="0" max="10">
          </div>
          <img id="logo" src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669884107/MOSS_3_uu5rj0.png" alt="">
      </div>
    </div>
  </div>

  <div style="background-color: transparent; width: 50%; height: 600px; margin: 0 auto; overflow-y:scroll;">
    <div data-edit-homepage-target="central_container">
    </div>
  </div>
</div>
