
    <ul>
      <% @residents.each do |resident| %>
        <li><button data-action="click->edit-homepage#resident" data-value="<%=resident.id%>"><%=resident.name%></button></li>
      <% end %>
    </ul>
