    <div class = "resident-list">
      <ul>
        <% residents.each do |resident| %>
          <li><%= link_to resident.name, resident_path(resident), target:"_blank" %></li>
        <% end %>
      </ul>
    </div>
