/* Basic structure */

html, body{
  background: url(https://res.cloudinary.com/depkh8amy/image/upload/v1669799937/Homepage_lop1pq.png) no-repeat center center fixed;
  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
* {
  padding: 0;
  margin: 0;
}

/* Side navbar */

.nav{
  position: absolute;
  width: 64px;
  height: 666px;
  top: 175px;
  }
  #navtop a {
    position: absolute;
    width: 100px;
    left: -50px;
    transition: 0.5s;
    top: 0%;
    bottom: 66.67%;
  }
  #navmiddle a {
    position: absolute;
    width: 100px;
    left: -50px;
    transition: 0.5s;
    top: 33.33%;
    bottom: 33.33%;
    }
  #navbottom a {
    position: absolute;
    width: 100px;
    left: -50px;
    transition: 0.5s;
    top: 66.67%;
    bottom: 0%;
  }
  #navtop a:hover,#navmiddle a:hover,#navbottom a:hover {
    left: -10px;
  }

  /* Chatbox */

#chat {
  position: absolute;
  top: 200px;
  right: -360px;
  transition: 0.5s;
  bottom: 0%;

}
#chat.active {
  right: 0px;
}

.btn-r img{
  position: absolute;
  top: 80px;
  left: 22px;
  cursor:grab;
  /* width: 26px;
  top: 265px;
   */
}


/* About */

#about span {
  position: absolute;
  left: 600px;
  bottom: -240px;
  transition: 0.5s;
  justify-content: center;

}
#about span:hover {
  bottom: -10px;
}


/* Top navbar */

.bar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 900;
  left: 0;
  width: 100%;
  padding: 16px ;

}
.inside{
  display: flex;
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 8px;
  overflow: hidden;
  text-overflow: clip;

  /* margin-left: 80px; */
}
#play{
  width: 34px;
  height: auto;
  cursor:grab;
}
#logo{
  width: 80px;
  height: 100%;
}
/* input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(#ff4500, #ff4500);
} */
#myVideo {
  position: fixed;
  background-size: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.bar h1{
  font-family:'Inter';
  color: white;
  font-size:medium;
  position: relative;
  margin-bottom: 0;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
 }

.box{
  width: 50%;
  gap: 100px
}

#volume{
  display: none;
}

#volume.active{
  display:block;
}

.box-big{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px solid white;

  // background-color: white;

  .admin-rocker {
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
  }

}
.media{
  display: flex;
  gap: 28px;
}

#points{
display: none;
}

#points.disp{
display: flex;
}

#vol{
  width: 20px;
  height: auto;
}
