.page-wrapper {
//   background-image: url(https://res.cloudinary.com/depkh8amy/image/upload/v1669799937/Homepage_lop1pq.png);
//   background-size: cover;
//   position: relative;
  height: 100%;
}


/* Basic structure */

html, body{
  background: url(https://res.cloudinary.com/depkh8amy/image/upload/v1670234683/purple_qkfiop.png) no-repeat center center fixed;
  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
body{
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
* {
  padding: 0;
  margin: 0;
}

.bottom-page{
  display: flex;
  height: 92%;

}

/* Side navbar */

.nav{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  top: 18%;
  flex-wrap: nowrap;
  height: 70%;
  filter: brightness(1.2)
  }

  #navtop {
//
    height: 32.5%;
  }

  #navmiddle {

    height: 32.5%;

  }

  #navbottom {
    height: 32.5%;
  }

  #navtop, #navmiddle, #navbottom {
    height: 32.5;
    filter:brightness(1.1);
  }

  #navtop:hover, #navmiddle:hover, #navbottom:hover {
    filter:brightness(0.9);
    transition: 0.5s
  }

  #navtop img, #navmiddle img, #navbottom img {
    height: 100%;
    object-fit: fill;
    border-top-right-radius: 32%;
    background-size: 80%;
    filter: drop-shadow(10px 10px 10px rgba(116, 47, 93, 0.314));
    // filter: brightness(1.1);
    transform: translate(-15px);
    opacity: 80%;

  }


  #navtop img:hover, #navmiddle img:hover, #navbottom img:hover {
    transform: translate(-5px);
    filter: drop-shadow(16px 10px 25px rgba(116, 47, 93, 0.5));
    // filter: brightness(1.0);
    opacity: 100%;
    transition: 0.5s;
  }

  /* Chatbox */

#chat {
  position: absolute;
  top: 200px;
  right: -360px;
  transition: 0.5s;
  bottom: 0%;
  height: 720px;
}

#chat:hover {

  &:not(.active) {
    transform: translate(-20px);
    filter: brightness(0.8);
    transition: 0.5s
  }
}

#chat.active {
  right: -10px;
}

.chatbox{
  width: 340px;
  height: 83%;
  margin-left: 75px;
  position: absolute;
  overflow-y:scroll;
  background-color: transparent;
  padding: 20px;
  direction: rtl;
}

.chatbox::-webkit-scrollbar-thumb{
  border: none;
  background-color: #f7e0f761 ;
  width: 50px;
 }

.btn-r img{
  position: absolute;
  top: 120px;
  left: 22px;
  cursor:grab;
  /* width: 26px;
  top: 265px;
   */
}


/* About */

#about span {
  display: flex;
  position: absolute;
  left: 600px;
  bottom: -240px;
  transition: 0.5s;
  justify-content: center;
  align-self: center;

}
#about span:hover {
  bottom: -10px;
}


/* Top navbar */

.bar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 900;
  left: 0;
  width: 100%;
  padding: 16px ;

}
.inside{
  display: flex;
  border-radius: 25px;
  border: 1px solid #ffffff;
  padding: 6px;
  overflow: hidden;
  width: 181px;
  height: 36px;
  padding-top: 8px;
}

#play i{
  width: 34px;
  height: auto;
  cursor:grab;
}

#logo{
  align-self: flex-end;
  width: 120px;
  height: 100%;
  margin-bottom: 11px;
  margin: top;
  margin-top: 11px;
}
/* input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(#ff4500, #ff4500);
} */


#myVideo {
  position: fixed;
  background-size: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#centerplay {
  display: flex;
  justify-content: center;
}

.bar #slidevol{
  white-space: nowrap;
  font-family:'Inter';
  color: white;
  font-size:medium;
  position: relative;
  margin-bottom: 0;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

.centeranimate {
  display: flex;
  justify-content: center;

  #live {
    margin-bottom: 0px;
  }
}

.bar #live{
  font-family:'Inter';
  color: white;
  font-size:medium;
  --animate-duration:4s
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-left{
  width: 50%;
  gap: 100px
}

#volume{
  display: none;
}

#volume.active{
  display:block;
}

.topnavbar{
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-between;
  // background-color: white;


  // background-color: white;

  .admin-rocker {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }

}
.media{
  display: flex;
  gap: 28px;
  align-items: center;
}




.volume-control {

  display: flex;
  align-items: center;


  #points{
    width: 70px;
    height: 15px;
    border-radius: 5px;
    visibility: hidden;
  }

  #vol {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 25px;
    height: 25px;
  }


  input[type="range" i] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: #ffffff72;
    height: 10px;
    border-radius: 5px;
  }

  input[type="range"]::-moz-range-track {
    background: #ffffff72;
    height: 10px;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -2.5px; /* Centers thumb on the track */
    background-color: none;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
 }

 .slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: none;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  }

}

.volume-control:hover #points {
  visibility: visible;
  transition: 0.5s;
}

#points.disp{
display: flex;
}

.fa-solid{
  height: auto;
  cursor:grab;
  color: white;
  display: inline;
}
.nav-right{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 50%;
  gap: 30px;
}

#logoutdiv {
  display: flex;
  align-items: center;
}


.message-submit{
  position: relative;
    top: 92%;
    left: 23%;
    width: 70%;
}
