
h2 {
  text-align: center;
}

#radio-list {
  list-style: none;
  text-align: center;
}

ul {
  padding: 0;
}

#residents {
  background: transparent;
  border: none;
  font-size: 30px;
  color: white;
  text-shadow: 0px 2px 2px #8E888C;
  margin: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Maven Pro';
}
