.show-container {
  justify-content: center;
}

img {
  display: block;
}

p, h2, h4, h5, h6 {
  color: white;
  text-shadow: 0px 2px 2px #8E888C;
}

.resi-bio {
  background-image: url(https://res.cloudinary.com/depkh8amy/image/upload/v1669895410/Rectangle_41_xf05vo.png);
}
